@font-face {
  font-family: 'HelveticaNeueDeskInterface-Regular';
  src: url('../fonts/HelveticaNeueDeskInterface-Regular.eot');
  src: url('../fonts/HelveticaNeueDeskInterface-Regular.woff2') format('woff2'),
       url('../fonts/HelveticaNeueDeskInterface-Regular.woff') format('woff'),
       url('../fonts/HelveticaNeueDeskInterface-Regular.ttf') format('truetype'),
       url('../fonts/HelveticaNeueDeskInterface-Regular.svg#HelveticaNeueDeskInterface-Regular') format('svg'),
       url('../fonts/HelveticaNeueDeskInterface-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaNewDemi-Reg';
  src: url('../fonts/FuturaNewDemi-Reg.eot');
  src: url('../fonts/FuturaNewDemi-Reg.woff2') format('woff2'),
       url('../fonts/FuturaNewDemi-Reg.woff') format('woff'),
       url('../fonts/FuturaNewDemi-Reg.ttf') format('truetype'),
       url('../fonts/FuturaNewDemi-Reg.svg#FuturaNewDemi-Reg') format('svg'),
       url('../fonts/FuturaNewDemi-Reg.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaNewMedium-Reg';
  src: url('../fonts/FuturaNewMedium-Reg.eot');
  src: url('../fonts/FuturaNewMedium-Reg.woff2') format('woff2'),
       url('../fonts/FuturaNewMedium-Reg.woff') format('woff'),
       url('../fonts/FuturaNewMedium-Reg.ttf') format('truetype'),
       url('../fonts/FuturaNewMedium-Reg.svg#FuturaNewMedium-Reg') format('svg'),
       url('../fonts/FuturaNewMedium-Reg.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaNewBold-Reg';
  src: url('../fonts/FuturaNewBold-Reg.eot');
  src: url('../fonts/FuturaNewBold-Reg.woff2') format('woff2'),
       url('../fonts/FuturaNewBold-Reg.woff') format('woff'),
       url('../fonts/FuturaNewBold-Reg.ttf') format('truetype'),
       url('../fonts/FuturaNewBold-Reg.svg#FuturaNewBold-Reg') format('svg'),
       url('../fonts/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaNewHeavy-Reg';
  src: url('../fonts/FuturaNewHeavy-Reg.eot');
  src: url('../fonts/FuturaNewHeavy-Reg.woff2') format('woff2'),
       url('../fonts/FuturaNewHeavy-Reg.woff') format('woff'),
       url('../fonts/FuturaNewHeavy-Reg.ttf') format('truetype'),
       url('../fonts/FuturaNewHeavy-Reg.svg#FuturaNewHeavy-Reg') format('svg'),
       url('../fonts/FuturaNewHeavy-Reg.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Book';
  src: url('../fonts/FuturaBookC.eot');
  src: url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaBookC.woff') format('woff'),
  url('../fonts/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Roboto Font =========================================== */
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}







